@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#C7CBF1), to(#D9C7F5));
  background-image: linear-gradient(90deg, #C7CBF1 0%, #D9C7F5 100%);
  font-family: 'Nunito Sans', sans-serif;
}

.opinion-modal {
  width: 678px;
  position: relative;
  padding: 30px;
  margin: 30px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1A1832;
  -webkit-box-shadow: 0px 27px 21px -21px rgba(26, 24, 50, 0.82818);
          box-shadow: 0px 27px 21px -21px rgba(26, 24, 50, 0.82818);
  color: #fff;
  text-align: center;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px;
  height: 17px;
  cursor: pointer;
}

.close-btn .icon {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.close-btn:hover .icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.information {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 64px;
}

.opinion-box {
  background-color: #282547;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin-bottom: 50px;
}

.opinion-box .question {
  margin: 20px 0;
  display: block;
  font-size: 18px;
  line-height: 25px;
}

.opinion-box .star-box {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  max-width: 355px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.opinion-box .opinion-info {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.opinion-box .opinion-info .opinion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  color: #807CAE;
}

.star {
  height: 40px;
  width: 40px;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background-color: #F3D779;
  -webkit-box-shadow: 0px 2px 17px rgba(243, 215, 121, 0.544335);
          box-shadow: 0px 2px 17px rgba(243, 215, 121, 0.544335);
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: .2s background-color;
  transition: .2s background-color;
}

.star:hover {
  background-color: #efc94a;
}

.btn {
  padding: 20px 95px;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-family: inherit;
  text-align: center;
  -webkit-transition: background-color .2s, background-image .2s;
  transition: background-color .2s, background-image .2s;
}

.btn-purple {
  background-color: #672CB9;
  color: #fff;
}

.btn-purple:hover {
  background-color: #5c27a4;
  color: #fff;
}

.btn-glass {
  background-image: linear-gradient(143deg, #672cb9 50%, #6317ae 50%);
}

.btn-glass:hover {
  background-image: linear-gradient(143deg, #672cb9 49%, #6317ae 100%);
}

.join-again {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #807CAE;
  cursor: pointer;
  margin: 40px 0;
}

.join-again:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */